body {
  color: #999;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  width: 690px;
  height: 100vh;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.score-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 40px;
}

.field-container {
  padding: 0;
  margin: 0;
  display: flex;
  width: 690px;
  flex-wrap: wrap;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 3px;
  background-color: blanchedalmond;
}

img {
  pointer-events: none;
}

img:hover {
  cursor: url('/src/img/hammer.png'), pointer;
}

img:active {
  cursor: url('/src/img/hammer-down.png'), pointer;
}

.none {
  display: none;
}

button {
  font-size: 20px;
  padding: 10px 30px;
  background: #da3b49;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: none;
}

button:hover, button:active{
  background-color: #c82333;
  border-color: #bd2130;
  box-shadow: 0 0 0 0.2rem rgb(225 83 97 / 50%);
}
